.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: rgb(235 237 239);
}
.basket {
  flex-grow: 1;
  text-align: center;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.entityBasket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.userContainer {
  display: flex;
}
.userInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0.5rem;
}

.credits {
  width: 10em;
}

.btn {
  width: 4em;
}
.entity {
  border: 0.1rem solid black;
  background-color: #ddd;
  margin: 0.1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
}

.showCredit {
  text-align: center;
}
